/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0;
}

footer a {
    margin: 0 10px; /* Espaciado entre íconos */
}

footer img {
    width: 30px; /* Tamaño de los íconos */
    vertical-align: middle; /* Alineación vertical */
}